{% extends 'base.html' %} {% block body %}
    <style>
        * {
            font-family: 'Open Sans', sans-serif;
        }
        a:hover {
            color:#ffffff;
            background-color:#3275e4;
        }
        h3 {
            margin-bottom:40px;
            font-weight: 300;
        }
        .container {
            margin-top:40px;
        }
        .btn {
            margin: 8px;
            padding:16px 25px 16px 25px;
            font-size:1.2em;
            background-color:#005080;
            color:#ffffff;
        }
        .buttonRow {
            margin-bottom:5px;
        }
        #mid-column {
            text-align: center;
            border:1px solid #999999;
            background-color: #ececec;
            border-radius:10px;
            padding:40px 20px;
            max-width:280px;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm" id="mid-column">
                <h3>Lambda Invoker</h3>
                <form action="{{ url_for('foo') }}" method="POST">
                <select name="lambda_selector" id="lambda_selector" class="form-select" aria-label="Default select example">
                    <option value="b0" selected>Select Lambda to invoke</option>
                    <option value="b1">AD0 - Account expires</option>
                    <option value="b2">AD1 - OneCG fields</option>
                    <option value="b3">AD2 - Account Request</option>
                    <option value="b4">AD3 - OneCG 2 attribs</option>
                    <option value="b5">Country holidays - GSheet</option>
                    <option value="b6">Change in POSNO alert</option>
                    <option value="b7">FO Alert</option>
                    <option value="b8">AD4 - Multiple CSVs for AD</option>
                    <option value="b9">AB webprofiles updates (P20-28)</option>
                </select>
                <button type="submit" class="btn btn-primary">Invoke Lambda</button>
                </form>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>

    <!-- Modal -->
    <div id="notif" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Lambda Invoker</h5>
                </div>
                <div class="modal-body">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        /* Trigger flash modal */
        $(document).ready(function() {
            var messages = "{{ get_flashed_messages() }}";
            if (typeof messages != 'undefined' && messages != '[]') {
              $("#notif").modal("show");
            };
        });
    </script>

{% endblock %}