{% extends 'base.html' %} {% block body %}
    <style>
        * {
            font-family: 'Open Sans', sans-serif;
        }
        a:hover {
            color:#ffffff;
            background-color:#3275e4;
        }
        h3 {
            margin-bottom:40px;
            font-weight: 300;
        }
        .container {
            margin-top:40px;
        }
        .btn {
            margin: 8px;
            padding:16px 25px 16px 25px;
            font-size:1.2em;
            background-color:#005080;
            color:#ffffff;
        }
        .buttonRow {
            margin-bottom:5px;
        }
        #mid-column {
            text-align: center;
            border:1px solid #999999;
            background-color: #ececec;
            border-radius:10px;
            padding:40px 0;
            max-width:280px;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm" id="mid-column">
                <h3>Lambda Invoker</h3>
                <div class="buttonRow">
                    <a class="btn btn-primary" href="{{ url_for('foo', my_var='b1') }}">1</a>
                    <a class="btn btn-primary" href="{{ url_for('foo', my_var='b2') }}">2</a>
                    <a class="btn btn-primary" href="{{ url_for('foo', my_var='b3') }}">3</a>
                </div>
                <div class="buttonRow">
                    <a class="btn btn-primary" href="{{ url_for('foo', my_var='b4') }}">4</a>
                    <a class="btn btn-primary" href="{{ url_for('foo', my_var='b5') }}">5</a>
                    <a class="btn btn-primary" href="{{ url_for('foo', my_var='b6') }}">6</a>
                </div>
                <div class="buttonRow">
                    <a class="btn btn-primary" href="{{ url_for('foo', my_var='b7') }}">7</a>
                    <a class="btn btn-primary" href="{{ url_for('foo', my_var='b8') }}">8</a>
                    <a class="btn btn-primary" href="{{ url_for('foo', my_var='b9') }}">9</a>
                </div>
                <div class="buttonRow">
                    <a class="btn btn-primary" href="{{ url_for('foo', my_var='b0') }}">0</a>
                </div>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>

    <!-- Modal -->
    <div id="notif" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Lambda Invoker</h5>
                </div>
                <div class="modal-body">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        /* Trigger flash modal */
        $(document).ready(function() {
            var messages = "{{ get_flashed_messages() }}";
            if (typeof messages != 'undefined' && messages != '[]') {
              $("#notif").modal("show");
            };
        });
    </script>

{% endblock %}